
.paginator {
    text-align: center;
    margin: 10px;
}

.pagination button {
    padding: 4px 8px;
}

.pageNumber {
    display: inline-block;
    margin: 3px;
    padding: 2px 8px;
    background: dimgrey;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.pageNumber.selectedPage {
    background: #ef5039;
    color: black;
}