.header {
    margin-top: 10px;
    margin-bottom: 10px;
    grid-area: h;
    border: 1px solid #9fa1a1;
    background: linear-gradient(-45deg, rgba(38, 38, 38, 0.5), #861717, #000101, #c7c7c7);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 85px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.header img {

    width: 140px;
    margin-left: 30px;
    margin-top: 5px;
}


.loginBlock {
    margin-top: 40px;
    margin-right: 25px;
    float: right;

    color: white;
    text-decoration: none;
}

.userInfo button {
    margin-left: 10px;
    padding: 5px 10px;
}
