.header {
    grid-area: h;
    background: indigo;
}

.header img {
    width: 50px;
    margin-left: 30px;
}

.loginBlock {
    margin-top: 15px;
    float: right;
    margin-right: 15px;
}

.loginBlock a {
    color: white;
}