.header {
    margin-top: 10px;
    margin-bottom: 10px;
    grid-area: h;
    border: 1px solid rgb(253, 255, 255);
    background: #9fa1a1;


}

.header img {

    width: 60px;
    margin-left: 30px;
    margin-top: 10px;
}


.loginBlock {
    margin-top: 15px;
    float: right;
    margin-right: 15px;
}

.loginBlock a {
    color: white;
}

.item {
    color: indigo;
}

.item img {
    width: 30px;
}