.nav {
    grid-area: n;
    background: rgba(159, 161, 161, 0.73);
    border: 1px solid #9fa1a1;
    /*border-radius: 7px;*/
}
.item a {
    margin-top: 7px;

    display: block;
    padding: 5px 10px;
    color: #100f0f;
    text-decoration: none;
}

.item a.active {
    background: #ef5039;
    color: #fdffff;
}
.item img {
    width: 15px;
}
