
.loginForm {

}


.loginBox {
    /* position: relative; */
    width: 1000px;
    height: 720px;
}

.inputField {
    position: absolute;
    width: 413px;
    height: 540px;
    left: 300px;
    top: 84px;

    background: rgba(159, 161, 161, 0.66);
    border-radius: 18px;
}

.formGroup {
    margin: 15px 33px 0 33px;
}


.formGroup p {
	position: relative;
	
}




.error {
	color: red;
	font-size: 14px;
    margin-top: 0;
	position: absolute; 
}



.social {
    margin: 16px;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    color: #000101;
}


.signIn {
    /*margin: 20px;*/
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 33px;

    text-align: center;
    color: #100f0f;
}



.loginButton {
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    height: 36px;
    width: 266px;
    font-size: 17px;
    margin: 20px 60px 0 40px;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-image: linear-gradient(to right, rgba(38, 38, 38, 0.5) 0%, rgba(159, 161, 161, 0.49) 51%, #ec0b0b 100%);
    box-shadow: 0 0 20px rgb(255, 253, 253);
    background-size: 200% auto;
    transition: .5s;
}

.loginButton:hover {
    background-position: right center;
    transform: scale(1.01);
}

.logo {
    width: 180px;

    margin-top: 5px;
}

