.app-wrapper {

    margin: 0 auto;
    display: grid;
    width: 1200px;
    grid-template-areas: "h h" "n c";

    grid-template-rows: 100px 2fr;
    grid-template-columns: 2fr 10fr;

    grid-gap: 10px;
}

.app-wrapper-content {
    background: rgba(159, 161, 161, 0.46);
    margin-left: 10px;
    border: 1px solid #9fa1a1;

    grid-area: c;

}

