.dialogs {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 3fr 9fr;
    padding: 10px;

}

.dialogsItems {
    padding: 10px;
    color: white;
}


.dialogsItems a.active {
    color: rgba(175, 0, 0, 0.87);
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;
}

